@page "/actores/crear"

<h3>Crear Actor</h3>

<FormularioActores Actor="Actor" OnValidSubmit="Crear" />

@code {
    private Actor Actor = new Actor();

    void Crear()
    {
        Console.WriteLine("crea actor");
    }
}
